---
layout: null
title: Capterra Landscaping
description: Landscape Design, Build, and Maintenance Services in Calgary Alberta
sitemap:
    priority: 1.0
    lastmod: 2020-08-02
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<!-- Intro -->
					<div id="intro">
       		   <img src="{{ "/images/overhead_logo.jpg" | absolute_url }}" alt="" />

						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly"></a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<img src="{{"/images/header.png" | absolute_url }}" alt="" class="svg"/>
					</header>


				<!-- Nav -->
					<nav id="nav">
            {% include nav.html %}
					</nav>

				<!-- Main -->
					<div id="main">

            <div class="box alt" style="padding-bottom: 1rem">
    		        <div class="row 50% uniform">
    			              <div class="4u"><a href="{{ "/images/Bowness_1.jpg" | absolute_url }}" data-lightbox="front" data-title="This is a caption about this patio"><z span class="image fit"><img src="/images/Bowness_1.jpg" | absolute_url }}" alt="" /></span></z></a></div>
    			              <div class="4u"><a href="{{ "/images/CliffBungalow_1.jpg" | absolute_url }}" data-lightbox="front" data-title="This is a caption about another patio"><z span class="image fit"><img src="/images/CliffBungalow_2.jpg" | absolute_url }}" alt="" /></span></z></a></div>
                        <div class="4u$"><a href="{{ "/images/Wexford_1.jpg" | absolute_url }}" data-lightbox="front" data-title="This is a caption about this big ol deck"><z span class="image fit"><img src="/images/Wexford_1.jpg" | absolute_url }}"alt="" /></span></z></a></div>
                      </div>
            </div>
            <div style="display: block; padding: 0; border: none">
              <div style="display: flex; padding-bottom: 2rem">
                <ul class="actions" style="display: flex; margin: auto; align-items: center;">
                  <li><a href="{{ "/portfolio/" | absolute_url }}" class="button">See Our Portfolio</a></li>
                </ul>
              </div>
            </div>

            <div>
              <p style="text-align:left; padding-top: 0rem;">Welcome to CapTerra, Calgary’s premier design and landscaping professionals. We provide a variety of services scaled for every budget. Whether you’re looking to create a dream garden, refresh a tired landscape, or craft an inviting backyard oasis, CapTerra is ready to help!
							Our certified Horticultural Technologist offers custom residential landscape designs, 3D renderings, and planting consultations suitable for Southern Alberta's climate. Our construction crews will build decks and pergolas, patios, pathways and retaining walls. We also offer shrub pruning and seasonal cleanups to keep your yard looking great all year long.
							<br>
              <br>
              Contact us today for a consultation and check us out over on Instagram <a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a>

              </p>
              </div>

				</div>
				<!-- Footer -->
        {% include foot.html %}
			</div>
		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}



</body></html>
