---
layout: null
title: Capterra Landscaping
description: Landscape Design, Build, and Maintenance Services in Calgary Alberta
sitemap:
    priority: 1.0
    lastmod: 2020-08-02
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<!-- Intro -->
					<div id="intro">
       		   <img src="{{ "/images/overhead_logo.jpg" | absolute_url }}" alt="" />
						
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly"></a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<img src="{{"/images/header.png" | absolute_url }}" alt="" class="svg"/>
					</header>


				<!-- Nav -->
					<nav id="nav">
            {% include nav.html %}
					</nav>

				<!-- Main -->
					<div id="main">

						
						
<p style="text-align:center; padding-top: 2rem;"><b>Welcome to CapTerra, Calgary’s newest design and landscaping expert. We provide a variety of services scaled for every budget. Whether you’re looking to create a dream garden, refresh a tired bed, or craft an inviting backyard oasis, CapTerra is ready to help!

CAPTERRA’s certified horticultural technologist offers custom residential landscape designs, 3D renderings, and planting consultations. Our construction crews will build decks and pergolas, pathways and retaining walls, and even install irrigation systems. We also offer shrub pruning and seasonal cleanups to keep your yard looking great all year long. 

Contact us today for a consultation!
</b></p>
						


						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/services/" | absolute_url }}" class="button">Our Services</a></li>
                  <li><a href="{{ "/portfolio/" | absolute_url }}" class="button">Our Portfolio</a></li>
                </ul>
							</footer>
				</div>
				<!-- Footer -->
        {% include foot.html %}
			</div>
		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}
	

		
</body></html>
