---
layout: null
title: Highland Park Furniture Co.
description: Custom Furniture Handmade in Calgary Alberta
sitemap:
    priority: 1.0
    lastmod: 2020-08-02
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<!-- Intro -->
					<div id="intro">
       		<svg><img src="{{ "/images/logothin.svg" | absolute_url }}" alt="" /></svg>
						<br>
						<h1 style= "text-transform:capitalize;">Custom Stone<sub>'</sub> Metal & Wood Pieces</h1><br> <h2>Handcrafted in Calgary</h2>
						<p></p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li><br>
						</ul>
					</div>
				<!-- Header -->
				<header id="header">
					<svg><img src="{{"/images/logothin.svg" | absolute_url }}" alt="" /></svg>
					
					
				</header>


				<!-- Nav -->
					<nav id="nav">
            {% include nav.html %}
					</nav>

				<!-- Main -->
					<div id="main"> 
<a href="{{ "/images/squarepin.jpg" | absolute_url }}" data-lightbox="preview" data-title="Medium Grey Slab with White Kintsugi and Hammered Black Squarepin Legs"><z class="image prev"><img src="{{ "/images/squarepin-prev.jpg" | absolute_url }}"/></z></a>
<p style="text-align:center; margin-top:-5rem;"><b>Head over to the Portfolio tab to view more.<br>If you're interested in ordering, check out the Process tab to see how we do things.<br>Then scroll down to the Contact section when you're ready to chat.</b></p>


						
						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/portfolio/" | absolute_url }}" class="button">Our Portfolio</a></li>
                </ul>
							</footer>
					</div>
				<!-- Footer -->
        {% include foot.html %}
			</div>
		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}
	</body>
		<a href="{{ "/images/pine-trap.jpg" | absolute_url }}" data-lightbox="preview" data-title="Pecan Stained Pine Top and Matte Black Trapezoidal Base"></a>
		<a href="{{ "/images/copper-bean-3hp.jpg" | absolute_url }}" data-lightbox="preview" data-title="Dark Grey 'Bean' with Copper Kintsugi and 3 Bar Hairpin Legs"></a>
		<a href="{{ "/images/trap.jpg" | absolute_url }}" data-lightbox="preview" data-title="Dark Grey Slab with Mint Kintsugi and Trapazoidal Legs"></a>	
		<a href="{{ "/images/gold-hp-endtables.jpg" | absolute_url }}" data-lightbox="preview" data-title="Medium Grey Circles with Gold Kintsugi and Natural Hairpin Legs"></a>
		<a href="{{ "/images/cedar-box.jpg" | absolute_url }}" data-lightbox="preview" data-title="Dark Stained Cedar Top and Matte Black Box Base"></a>
</html>
