<footer id="footer">
  <section>
    <h2 style="text-align:center; margin: 0;">Contact Us</h2>
    <form action="https://formsubmit.co/info@capterralandscaping.ca" method="POST">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="_subject" id="_subject" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="3"></textarea>
      </div>
      <div class="field">
        <input type="text" name="_honey" style="display:none">
      </div>  
      <ul class="actions">
        <li><input type="submit" id="submit" value="Send Message" /></li>
      </ul>
        <input type="hidden" name="_next" value="https://www.capterralandscaping.ca/thank-you">
        <input type="hidden" name="_replyto">
    </form>
  </section>
  <section class="split contact">
    <section class="alt">
      <h3>Location</h3>
      <p>{{site.location}}</p>
    </section>
    <section>
      <h3>Phone</h3>
      <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
    </section>
    <section>
      <h3>Social</h3>
      <ul class="icons alt">


        <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>

      </ul>
    </section>
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul><li>&copy; CapTerra Landscaping     Background image by freepik.com</li></ul>
</div>
