<!-- DYN -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/lightbox-plus-jquery.js" | absolute_url }}"></script>
  <script>

    $(document).ready(function() {

        $('#submit').on('click', function() {

            var name= $('#name').val();
            var id= $('#email').val();
            var message= $('#message').val();
            var subject= $('#_subject').val();


            //send to formspree via ajax
            $.ajax({
                url:'https://formsubmit.co/info@highlandparkfurniture.ca',
                method:'POST',
                data:{
                    name: name,               
                    email: id,
                    phone: number,
                    comments: message,
                    _subject: subject,
                },
                dataType:"json",
                success:function() {
                    alert('your mail has been sent!');               
                }   

            });     

        });

    });  

</script>
