
/* Header */

	#header {
		@include color-typography(invert);
		@include vendor('align-items', 'center');
		@include vendor('display', 'flex');
		@include vendor('flex-direction', 'column');
		@include vendor('justify-content', 'flex-end');
		@include vendor('pointer-events', 'none');
		@include vendor('user-select', 'none');
		height: 15rem;
		padding: 1rem 0 (_size(padding) * 2.5);
		position: relative;
		text-align: center;
		z-index: 2;

		.logo {
			@include vendor('transition', (
				'border-color #{_duration(transition)} ease-in-out',
				'color #{_duration(transition)} ease-in-out',
				'opacity 0.5s ease',
				'transform 0.5s ease',
				'visibility 0.5s'
			));



			
		}
		
		.svg {
			@include vendor('transition', (
				'border-color #{_duration(transition)} ease-in-out',
				'color #{_duration(transition)} ease-in-out',
				'opacity 0.5s ease',
				'transform 0.5s ease',
				'visibility 0.5s'
			));
			
			height: 8rem;

			
			
		}

		@include breakpoint(medium) {
			height: 11rem;
			padding-top: 1rem;
			padding-bottom: 2rem;
		}

		@include breakpoint(small) {
			height: 10rem;
			padding: 1rem 0 (_size(padding) * .5);

			.logo {
				font-size: 1.75rem;
				border-width: 3px !important;
			}
		}
	}
